body{
    font-family: 'Montserrat', sans-serif;
}
.topmenu{
    background-color:aqua;
}
ul{
    list-style:none;
    overflow: hidden;
}
li a{
    text-decoration: none;
    display:block;
    color:maroon;
}
li{
    float:left;
    padding: 2%;
}
li a:hover{
    color:red;
}
footer{
    background-color:antiquewhite;
}